<!doctype html>
<html>

<head>
    <title>Mathcaaaa</title>

    <style>
        @font-face {
            font-family: joe;
            src: url('/joe.otf');
        }

        @font-face {
            font-family: john;
            src: url('/john.otf');
        }

        body {
            height: 100%;
            background-image: url('https://www.maharaniweddings.com/media/gallery/47918-05319113-orig.jpeg');
            background-size: cover;
            background-repeat: no-repeat;
            margin: 0;
        }

        body {
            word-wrap: break-word;
        }

        img {
            padding: 1px;
            margin-left: -4px;
        }

        #chat {
            width: 100%;
        }

        #time {
            float: right;
            font-size: 10px;
        }

        #message {
            margin-left: 0;
            order: 2;
        }

        form input {
            border: 0;
            padding: 10px;
            width: 90%;
            margin-right: .5%;
        }

        form button {
            width: 9%;
            background: rgb(51, 51, 51);
            border: none;
            padding: 10px;
            color: white;
            border-radius: 3px;
        }

        #messages {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        #messages li {
            padding: 5px 10px;
            display: flex;
        }

        #messages {
            margin-bottom: 40px
        }

        .top-bar {
            padding: 10px;
            background: rgba(51, 51, 51, .8);
            display: grid;
            grid-template-columns: repeat(4, 1fr);
        }

        h2 {
            font-family: john;
            color: white
        }

        ;
        strong {
            color: white;
            font-family: joe;
        }

        .btn {
            margin: auto;
            border-radius: 2px;
            border: none;
            font-family: john;
            background: rgb(51, 51, 51);
            color: white;
            padding: 5px;
            font-size: 30px;
            width: 250px;
        }

        .btn>a {
            display: block;
            margin: auto;
            color: rgb(235, 235, 235);
            text-decoration: none;
            text-align: center;
        }

        .btn:hover {
            cursor: pointer;
            color: rgb(51, 51, 51);
            background: white;
        }

        .btn>a:hover {
            color: rgb(51,
            51, 51);
        }

        .copy-cat {
            bottom: 0;
            text-align: end;
        }

        .copy-cat-p {
            color: white;
            font-family: joe;
            margin: 0;
            margin-right: 10px;
            bottom: 0;
        }

        a {
            font-family: john;
            text-decoration: none;
            text-align: center;
        }

        .mid {
            margin: auto;
        }

        .profile-info {
            font-family: joe;
            background: rgba(51, 51, 51, .8);
            margin-right: 40px;
            margin-top: 40px;
            padding: 5px;
            color: white;
        }

        #messages {
            margin: 40px;
            background: rgba(235, 235, 235, .6);
            padding: 10px;
        }

        form {
            margin-left: 40px;
        }
    </style>
</head>

<body>
    <div>

        <div class='top-bar'>
            <h2>Chat with
                <%= person.local.name %>:</h2>
            <a href="/logout" class="btn">Logout</a>
            <a href="/me" class="btn">Back to my Profile</a>
        </div>

        <div>
            <div>
                <div>
                    <ul id="messages">
                        <% for (var i = 0; i < chats.length; i++) { %>
                            <% if (chats[i]) { %>
                                <span id="time"> at
                                    <%= chats[i].createdAt.getHours() < 10 ? "0" + chats[i].createdAt.getHours() : chats[i].createdAt.getHours() %>:
                                        <%= chats[i].createdAt.getMinutes() < 10 ? "0" + chats[i].createdAt.getMinutes() : chats[i].createdAt.getMinutes() %>:
                                            <%= chats[i].createdAt.getSeconds() < 10 ? "0" + chats[i].createdAt.getSeconds() : chats[i].createdAt.getSeconds() %>
                                </span>
                                <li>
                                    <span id="message" "<%= chats[i].sender === user.local.login ? 'auto' : '0' %>">
                                        <%= chats[i].message %>
                                    </span>
                                </li>
                                <% } %>
                                    <% } %>
                    </ul>
                    <form name="msg">
                        <input type="hidden" name="person" value="<%= person.local.login %>" />
                        <input id="m" autocomplete="off" />
                        <button>Send</button>
                    </form>
                    <script src="/socket.io/socket.io.js"></script>
                    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
                    <script>
                        var socket = io();
                        var msg = document.forms["msg"];
                        var person = msg.elements[0].value;

                        $('form').submit(function () {
                            $.ajax({
                                type: "POST",
                                url: "/message",
                                data: JSON.stringify({
                                    person: person,
                                    msg: $('#m').val()
                                }),
                                dataType: "json",
                                contentType: "application/json",
                            });
                            socket.emit('chat message', $('#m').val());

                            $('#m').val('');
                            return false;
                        });
                        socket.on('your message', function (msg) {
                            if (msg !== '') {
                                $('#messages').append($('<li>').append($('<span>').attr("id", "time").text(
                                    'just now')).append($('<span>').text(msg).css("margin-left", "auto")));
                            }
                        });
                        socket.on('chat message', function (msg) {
                            if (msg !== '') {
                                $('#messages').append($('<li>').append($('<span>').attr("id", "time").text(
                                    'just now')).append($('<span>').text(msg).css("margin-left", "10px")));
                            }
                        });
                    </script>
                </div>
            </div>

            <div>
                <div class="profile-info mid" style="width: 300px">
                    <h3>About
                        <%= person.local.name %>:</h3>
                    <strong>Login</strong>:
                    <%= person.local.login %>
                        <br>
                        <strong>Full Name</strong>:
                        <%= person.local.name %>
                            <br>
                            <strong>Gender</strong>:
                            <%= person.local.gender %>
                                <br>
                                <strong>Sexual preferences</strong>:
                                <%= person.local.orient %>
                                    <br>
                                    <strong>Age</strong>:
                                    <%= person.local.age %>
                                        <br>
                                        <strong>Age gap</strong>:
                                        <%= person.local.agegap %>
                                            <br>
                                            <strong>Interests</strong>:
                                            <%= person.local.tags %>
                                                <br>
                                                <strong>About me</strong>:
                                                <%= person.local.about %>
                                                    <br>
                                                    <strong>Rating</strong>:
                                                    <%= person.local.rating %>
                                                        <br>
                </div>
            </div>
        </div>

        <div class="copy-cat">
            <p class="copy-cat-p">&copy; 2018 adsabau && bpitic</p>
        </div>
    </div>
</body>

</html>