<!doctype html>
<html>

<head>
    <title>Mathcaaaa</title>
    <link rel="stylesheet" href="style-index.css" />
</head>

<body>
    <div>
        <div class="content">
            <h1 class="title">Matcha</h1>

            <div class="controller">
                <p class="title-controller">Login or Register with:</p>
                <div class="button-container">
                    <div class="btn">
                        <a href="/login">Local Login</a>
                    </div>
                    <div class="btn">
                        <a href="/signup">Local Signup</a>
                    </div>
                </div>
                <div class="login-social">
                    <div class="facebook">
                        <a href="/auth/facebook" </span> Facebook</a>
                    </div>
                    <div class="google">
                        <a href="/auth/google">
                            </span> Google+</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="copy-cat">
            <p class="copy-cat-p">&copy; 2018 adsabau && bpitic</p>
        </div>
    </div>
</body>

</html>