<!doctype html>
<html>
<head>
    <title>Mathcaaaa</title>
    <link rel="stylesheet" href="style-login.css" />
</head>
<body>

<div class="content">
    <h1 class="title">Login</h1>

    <% if (message.length > 0) { %>
        <div><%= message %></div>
    <% } %>

    <div class="form-container">
        <form class="form-content" action="/login" method="post">
            <div class="form-group">
                <label>Email</label>
                <input type="text" class="form-control" name="email">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" name="password">
            </div>

            <button type="submit" class="btn">Login</button>
        </form>
        <p>Need an account? <a href="/signup">Signup</a></p>
        <p>Or go <a href="/">home</a>.</p>
    </div>

    <div class="copy-cat">
        <p class="copy-cat-p">&copy; 2018 adsabau && bpitic</p>
    </div>
</div>
</body>
</html>
