<!DOCTYPE html>
<html>
  <head>
    <title>Mathcaaaa</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
  </head>
  <body>
<div id="map" style="margin:auto; width:1500px;height: 700px;background:yellow"></div>

<script>
  function myMap() {
    var mapOptions = {
 center: new google.maps.LatLng(46.786084, 23.607524),
      zoom: 15,
      mapTypeId: google.maps.MapTypeId.HYBRID
    }
    var map = new google.maps.Map(document.getElementById("map"), mapOptions);
  }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBu-916DdpKAjTmJNIgngS6HL_kDIKU0aU&callback=myMap"></script>
  </body>
</html>