<!doctype html>
<html>
<head>
    <title>Matchaaa</title>
    <link rel="stylesheet" href="style-profile.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<div>

    <div class="top-bar">
        <h1>Profile Page</h1>
        <a href="/logout" class="btn">Logout</a>
        <a href="/me" class="btn">Here I am</a>
    </div>

    <div>
        <div>
            <div>
                <h2><%= person.local.name %>'s Profile:</h2>
                <p>
                    <a href="/chat/<%= person.local.login %>"><input id="chat" type="<%= ((liked === "Unlike") && (likedYou === "True")) ? "button" : "hidden" %>" class="btn btn-lg" value="Chat now!"></a>
                    <form name="like">
                    <input type="hidden" name="person" value="<%= person.local.login %>"/>
                    <button name="press" type="submit" class="btn btn-warning btn-lg liked">
                    <%- liked %>
                    </button>
                    <strong><%= (new Date() - person.local.online < 30*1000) ? "Online" : 
                    (new Date() - person.local.online < 3600*1000) ? "Was online less then an hour ago" : 
                    (new Date() - person.local.online < 24*3600*1000) ? "Was online less than a day ago" : 
                    "Was online at " + person.local.online.toDateString() %></strong><br>
                    </form>
                    <script>
                        $("form").submit(function(e) {
                             
                            e.preventDefault();
                            var like = document.forms["like"];
                            var person = like.elements[0].value;
                             
                            $.ajax({
                                type: "POST",
                                url: "/like",
                                data: JSON.stringify({person: person}),
                                dataType: "json",
                                contentType: "application/json",
                                success: function(data){
                                    $(".liked").html(data['liked']);
                                    var type = ($(".liked").html() === "Like") ? "hidden" : "button";
                                    $("#chat").attr("type", type);
                                },
                            });
                        });
                    </script>
                    <img src="
                    <%- person.local.avatar ? person.local.avatar : 'default.jpg' %>
                    " width=50% /><br>
                    <img src="
                    <%- person.local.img1 ? person.local.img1 : 'default.jpg' %>
                    " width=15% />
                    <img src="
                    <%- person.local.img2 ? person.local.img2 : 'default.jpg' %>
                    " width=15% />
                    <img src="
                    <%- person.local.img3 ? person.local.img3 : 'default.jpg' %>
                    " width=15% />
                    <img src="
                    <%- person.local.img4 ? person.local.img4 : 'default.jpg' %>
                    " width=15% />
                </p>
            </div>
        </div>
        
        <div>
        <div class="profile-info mid" style="display: block; width: 300px;">
                <strong>Login</strong>: <%= person.local.login %><br>
                <strong>Full Name</strong>: <%= person.local.name %><br>
                <strong>Gender</strong>: <%= person.local.gender %><br>
                <strong>Sexual preferences</strong>: <%= person.local.orient %><br>
                <strong>Age</strong>: <%= person.local.age %><br>
                <strong>Age gap</strong>: <%= person.local.agegap %><br>
                <strong>Interests</strong>: <%= person.local.tags %><br>  
                <strong>About me</strong>: <%= person.local.about %><br>
                <strong>Rating</strong>: <%= person.local.likes.length / person.local.visits.length * 100 %>%<br>
            </div>
        </div>
    </div>

<div class="copy-cat">
    <p class="copy-cat-p">&copy; 2018 adsabau && bpitic</p>
</div>

</div>
</body>
</html>
