
<!doctype html>
<html>
<head>
    <title>Matchaaa</title>
    <link rel="stylesheet" href="style-profile.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<div>

    <div class="top-bar">
        <h1>Your profile page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
        <a href="/search" class="btn btn-default btn-sm">Search</a>
        <a href="/map" class="btn btn-default btn-sm">Map</a>
    </div>
    <div class="content">
            <div class="picture-container">
                    <div class="pictures">
                    <img src="
                    <%- user.local.avatar ? user.local.avatar : 'default.jpg' %>
                    " width=50% /><br>
                    <img src="
                    <%- user.local.img1 ? user.local.img1 : 'default.jpg' %>
                    " width=15% />
                    <img src="
                    <%- user.local.img2 ? user.local.img2 : 'default.jpg' %>
                    " width=15% />
                    <img src="
                    <%- user.local.img3 ? user.local.img3 : 'default.jpg' %>
                    " width=15% />
                    <img src="
                    <%- user.local.img4 ? user.local.img4 : 'default.jpg' %>
                    " width=15% /><br>
                    </div>
                    <div class="description">
                    <strong>Login</strong>: <%= user.local.login %><br>
                    <strong>Email</strong>: <%= user.local.email %><br>
                    <strong>Full Name</strong>: <%= user.local.name %><br>
                    <strong>Gender</strong>: <%= user.local.gender %><br>
                    <strong>Sexual preferences</strong>: <%= user.local.orient %><br>
                    <strong>Age</strong>: <%= user.local.age %><br>
                    <strong>Age gap</strong>: <%= user.local.agegap %><br>
                    <strong>Interests</strong>: <%= user.local.tags %><br>  
                    <strong>About me</strong>: <%= user.local.about %><br>
                    <strong>You visited</strong>: 
                    <% for (var i = 0; i < user.local.visits.length; i++) { %>
                        <a href="/<%= user.local.visits[i] %>"><%= user.local.visits[i] %></a>
                    <% } %> <br>
                    <strong>You liked</strong>: 
                    <% for (var i = 0; i < user.local.likes.length; i++) { %>
                        <a href="/<%= user.local.likes[i] %>"><%= user.local.likes[i] %></a>
                    <% } %> <br>
                    <strong>Visited you</strong>: 
                    <% for (var i = 0; i < visitors.length; i++) { %>
                        <a href="/<%= visitors[i] %>"><%= visitors[i] %></a>
                    <% } %> <br>
                    <strong>Liked you</strong>: 
                    <% for (var i = 0; i < likers.length; i++) { %>
                        <a href="/<%= likers[i] %>"><%= likers[i] %></a>
                    <% } %> <br>
                    <strong>You can chat with</strong>: 
                    <% for (var i = 0; i < user.local.likes.length; i++) { %>
                        <% for (var j = 0; j < likers.length; j++) { %>
                            <% if (user.local.likes[i] === likers[j]) { %>
                                <a href="/<%= likers[j] %>"><%= likers[j] %></a>
                            <% } %>
                        <% } %>
                    <% } %> <br>
                <strong>Rating</strong>: <%= user.local.likes.length / user.local.visits.length * 100 %>%<br>
                </div>
            </div>
            <div class = "profile-info">
            <h2>Edit Profile Info</h2>
            <form action="/me" method="post">
                <div>
                    <label>Name</label>
                    <input type="text" name="name">
                </div>
                <div>
                    <label>Gender</label>
                    <input type="radio" name="gender" value="male"> Male
                    <input type="radio" name="gender" value="female"> Female
                    <input type="radio" name="gender" value="female"> Gender Fluid
                </div>
                <div>
                    <label>Looking for:</label>
                    <input type="radio" name="orient" value="male"> Male
                    <input type="radio" name="orient" value="female"> Female
                    <input type="radio" name="orient" value="bisexual"> Anything
                </div>
                <div>
                    <label>Age</label>
                    <select name="age">
                        <option value="-1">How old are you?</option>
                        <% for (var i = 18; i < 100; i++) { %>
                            <option value="<%= i %> "> <%= i %> </option>;
                        <% }; %>
                    </select>
                </div>
                <div>
                    <label>Gap</label>
                    <select name="agegap">
                        <option value="-1">Select the difference btween age</option>
                        <% for (var i = 0; i < 21; i++) { %>
                            <option value="<%= i %> "> <%= i %> </option>;
                        <% }; %>
                    </select>
                </div>
                <div>
                    <label>Who am I?(Jackie Chan reference)</label>
                    <textarea rows="3" cols="15" name="about"></textarea>
                </div>

                <button type="submit">Save me</button>
            </form>
            <h2>Edit Images</h2>
            <form action="/api/photo" enctype="multipart/form-data" method="post">
                <p><strong>Choose avatar:</strong><input type="file" name="avatar"></p>
                <p><strong>Select other pictures:</strong><input type="file" name="gallery" multiple></p>
                <button type="submit">New Selfie Button</button>
            </form>

            <h2>What are you looking for?</h2>
            <form action="/add-tag" method="post">
                <p><strong>Write your interests here like a pitzi with hastags(#rezist)</strong><input type="text" name="tag"></p>
                <button>Press me</button>
            </form>

            <h2></span> Your Geopositioning</h2>
            <p><button onclick="getLocation()" class="btn btn-warning btn-lg">Update Location</button></p>
            </div>
            <script>
                var pos;
                function getLocation() {
                    if (navigator.geolocation) {
                        navigator.geolocation.getCurrentPosition(showPosition);
                        $.ajax({
                            type: "POST",
                            url: "/position",
                            data: JSON.stringify({pos: pos}),
                            dataType: "json",
                            contentType: "application/json",
                        });
                    } else {
                        getLocation();
                    }
                }
                function showPosition(position) {
                    pos = position.coords.latitude + ", " + position.coords.longitude; 
                }
            </script>

    </div>

    <div class ="social-connect">
        <div class="mid">
            <div class = 'facebook'>
                <% if (user.facebook.token) { %>
                    <p>
                        <strong>id</strong>: <%= user.facebook.id %><br>
                        <strong>token</strong>: <%= user.facebook.token %><br>
                        <strong>email</strong>: <%= user.facebook.email %><br>
                        <strong>name</strong>: <%= user.facebook.name %><br>
                    </p>

                    <a href="/unlink/facebook">Unlink</a>
                <% } else { %>
                    <a href="/connect/facebook">Connect Facebook</a>
                <% } %>
            </div>
        </div>
        <div class="mid">
            <div class="google">
                <% if (user.google.token) { %>
                    <p>
                        <strong>id</strong>: <%= user.google.id %><br>
                        <strong>token</strong>: <%= user.google.token %><br>
                        <strong>email</strong>: <%= user.google.email %><br>
                        <strong>name</strong>: <%= user.google.name %>
                    </p>

                    <a href="/unlink/google">Unlink</a>
                <% } else { %>
                    <a href="/connect/google">Connect Google</a>
                <% } %>

            </div>
        </div>
    </div>

<div class="copy-cat">
    <p class="copy-cat-p">&copy; 2018 adsabau && bpitic</p>
</div>
</div>
</body>
</html>
