<!doctype html>
<html>
<head>
    <title>Matchaaa</title>
    <link rel="stylesheet" href="style-profile.css" />
    
</head>
<body>
<div>

    <div class="top-bar">
        <h2><span></span> Searching Page</h2>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
        <a href="/me" class="btn btn-default btn-sm">Back to my profile</a>
    </div>

    <div>
        <div>
            <div >
                
                <div claas="persons" id="people">
                    <% for (var i = 0; i < people.length; i++) { %>
                          <% if (people[i]) { %>
<div id="single-person">
    <a href="http://localhost:3000/<%= people[i].local.login ? people[i].local.login: 'default.jpg'%>"><img src="<%= people[i].local.avatar %>" width=150 height=150 />
        <p id="person">
            <%= people[i].local.login %>
        </p>
    </a>
                              </div>
                          <% } %>
                    <% } %>
                    </div>
            </div>
        </div>
        
    </div>

<div class="copy-cat">
    <p class="copy-cat-p">&copy; 2018 adsabau && bpitic</p>
</div>

</div>
</body>
</html>
