<!doctype html>
<html>
<head>
    <title>Mathcaaaa</title>
<link rel="stylesheet" href="style-login.css" />
    
</head>
<body>
<div class="">
<div class="">

    <h1 class="title">Signup</h1>

    <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>

<div class="form-container">
    <form action="/signup" method="post">
<div class="form-group">
            <label>Name:</label>
            <input type="text" class="form-control" name="name">
        </div>
        <br>
<div class="form-group">
            <label>Login:</label>
            <input type="text" class="form-control" name="login">
        </div>
<br>
        
<div class="form-group">
            <label>Email</label>
            <input type="email" class="form-control" name="email">
        </div>
<br>
        
<div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" name="password">
        </div>
<br>

        <button type="submit" class="btn">Signup</button>
    </form>
    <p>Already have an account? <a href="/login">Login</a></p>
    <p>Or go <a href="/">home</a>.</p>
</div>
    



    <div class="footer">
        <p>&copy; 2018 adsabau && bpitic</p>
    </div>

</div>
</div>
</body>
</html>
