@font-face {
    font-family: joe;
    src: url(joe.otf);
}
@font-face {
    font-family: john;
    src: url(john.otf);
}

body{
    height: 100%;
    background-image: url('https://www.maharaniweddings.com/media/gallery/47918-05319113-orig.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
}
.content{
    display: grid;
    margin: 0;

}
.title{
    font-family: john;
    color: rgb(51,51,51);
    font-weight: bold;
    text-align: center;
    font-size: 50px;
}
.btn{
    margin: auto;
    border-radius: 2px;
    border: none;
    font-family: john;
    background: rgb(51,51,51);
    color: white;
    padding: 5px;
    font-size: 30px;
    width: 250px;
}
.btn>a{
    display: block;
    margin: auto;
    color: rgb(235,235,235);
    text-decoration: none;
    text-align: center;
}
.btn:hover {
    cursor: pointer;
    color: rgb(51, 51, 51);
    background: white;
}
.btn>a:hover {
    color: rgb(51, 51, 51);
}
.copy-cat{
    bottom: 0;
    text-align: end;
}
.copy-cat-p{
    color: white;
    font-family: joe;
    margin: 0;
    margin-right: 10px;
    bottom: 0;
}
.facebook {
    padding: 10px;
    background: rgb(59, 89, 152);
    width: 150px;
    border-radius: 2px;
}
.facebook:hover {
    background: white;
}

.facebook>a{
    display: block;
    text-align: center;
    margin: auto;
    font-family: john;
    color: white;
    text-decoration: none;
}
.facebook>a:hover {
    color: rgb(59, 89, 152);
}
.google {
    padding: 10px;
    background: rgb(221, 75, 57);
    width: 150px;
    border-radius: 2px;
}
.google:hover {
    background: white;
}
.google>a {
    display: block;
    text-align: center;
    margin: auto;
    font-family: john;
    color: white;
    text-decoration: none;
}
.google>a:hover {
    color: rgb(221, 75, 57);
}
a{
    text-decoration: none;
    text-align: center;
}
.top-bar{
    padding: 10px;
    background: rgba(51,51,51, .8);
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
h1{
    display: block;
    color: white;
    font-family: john;
    margin: auto;
}
.picture-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5px;
    margin-top: 40px;
    margin-left: 40px;
    font-family: joe;
    text-decoration: none;
    height: 400px;
    width: 600px;
    background: rgba(51,51,51, .8);
    color: white;
}
.description{
    margin: auto;
}
.pictures{
    width: 250px;
    margin: auto;
}
.content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 300px;
}

.profile-info{
    font-family: joe;
    background: rgba(51,51,51, .8);
    margin-right: 40px;
    margin-top: 40px;
    padding: 5px;
    color: white;
}
.social-connect{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.mid{
    margin:auto;
}

h2{
    font-family: john;
    color: rgb(51,51,51);
}

strong{
    color: white;
    font-family: joe;
}
.persons{
    display: grid;
    grid-template-rows: repeat(1fr);
}
#single-person{
    padding: 10px;
    background: rgba(55,55,55, .8);
    margin: 20px;
}
#person{
    color: white;
    font-family: john;
    font-size: 20px;
}