@font-face {
    font-family: joe;
    src: url(joe.otf);
}
@font-face {
    font-family: john;
    src: url(john.otf);
}

body{
    height: 100%;
    background-image: url('https://www.maharaniweddings.com/media/gallery/47918-05319113-orig.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
}
label{
    font-family: joe;
    color: white;
}
.content{
    display: grid;
    margin: 0;
}
.title{
    font-family: john;
    color: rgb(51,51,51);
    font-weight: bold;
    text-align: center;
    font-size: 50px;
}

.form-container{
    box-shadow: 5px 10px 18px rgba(25,25,25, .6);
    width: 400px;
    height: 300px;
    padding: 30px;
    border: 1px solid rgb(51,51,51);
    background: rgba(51,51,51, .8);
    margin: 100px auto;
    border-radius: 3px;
}

.form-content{
    display:grid;
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 20px;
    color: white;
    font-family: joe;
}

.form-group{
    display: grid;
    grid-template-columns: .4fr .6fr;
}
label{
    font-size: 25px;
    margin: auto;
}
p{
    font-family: joe;
    color: white;
}
a{
    font-family:john;
    font-weight: bold;
    color: rgb(200,200,200);
    text-decoration: none;
}
.btn{
    border-radius: 2px;
    border: none;
    font-family: john;
    background: rgb(51,51,51);
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 30px;
}
.btn:hover {
    cursor: pointer;
    color: rgb(51, 51, 51);
    background: white;
}

.copy-cat{
    text-align: end;
}

.copy-cat-p{
    margin: 0;
    margin-right: 10px;
    bottom: 0;
}
