@font-face {
    font-family: joe;
    src: url(joe.otf);
}
@font-face {
    font-family: john;
    src: url(john.otf);
}

body{
    height: 100%;
    background-image: url('https://www.maharaniweddings.com/media/gallery/47918-05319113-orig.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
}
.content{
    display: grid;
    margin: 0;

}
.title{
    font-family: john;
    color: rgb(51,51,51);
    font-weight: bold;
    text-align: center;
    font-size: 50px;
}

.controller{
    box-shadow: 5px 10px 18px rgba(25,25,25, .6);
    width: 400px;
    height: 300px;
    padding: 30px;
    border: 1px solid rgb(51,51,51);
    background: rgba(51,51,51, .8);
    margin: 100px auto;
    border-radius: 3px;
}

.button-container{
    margin-top: 30px;
    display:grid;
    grid-row-gap: 20px;
    grid-template-rows: repeat(2, 1fr);
}

.title-controller{
    color: rgba(235,235,235, 0.8);
    font-family: john;
    font-size: 25px;
}

.btn{
    margin: auto;
    border-radius: 2px;
    border: none;
    font-family: john;
    background: rgb(51,51,51);
    color: white;
    padding: 5px;
    font-size: 30px;
    width: 250px;
}
.btn>a{
    display: block;
    margin: auto;
    color: rgb(235,235,235);
    text-decoration: none;
    text-align: center;
}
.btn:hover {
    cursor: pointer;
    color: rgb(51, 51, 51);
    background: white;
}
.btn>a:hover {
    color: rgb(51, 51, 51);
}
.login-social{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 50px;
}
.copy-cat{
    bottom: 0;
    text-align: end;
}
.copy-cat-p{
    color: white;
    font-family: joe;
    margin: 0;
    margin-right: 10px;
    bottom: 0;
}
.facebook {
    padding: 10px;
    background: rgb(59, 89, 152);
    width: 150px;
    border-radius: 2px;
}
.facebook:hover {
    background: white;
}

.facebook>a{
    display: block;
    text-align: center;
    margin: auto;
    font-family: john;
    color: white;
    text-decoration: none;
}
.facebook>a:hover {
    color: rgb(59, 89, 152);
}
.google {
    padding: 10px;
    background: rgb(221, 75, 57);
    width: 150px;
    border-radius: 2px;
}
.google:hover {
    background: white;
}
.google>a {
    display: block;
    text-align: center;
    margin: auto;
    font-family: john;
    color: white;
    text-decoration: none;
}
.google>a:hover {
    color: rgb(221, 75, 57);
}